<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <div class="flex flex-row">
            <i class="pi pi-map pr-2" style="font-size: 1.5rem"></i>
            <p class="text-xl">GradMap</p>
        </div>
    </ng-template>
    <ng-template pTemplate="item" let-item>
        <a pRipple class="flex align-items-center p-menuitem-link" [href]="item.link">
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
            <p-badge *ngIf="item.badge" class="ml-auto" [value]="item.badge" />
        </a>
    </ng-template>
    <ng-template pTemplate="end">
        <!--  -->
    </ng-template>
</p-menubar>